$light-color: #e7e7e7;
$dark-color: #262626;
$red-warning: #cc0000;
$padding: 10px;

@font-face {
    font-family: SourceSansPro;
    src: url('../../fonts/SourceSansPro-Regular.ttf');
}

* {
  outline: none;
}

body {
  font-family: SourceSansPro;
  color: $dark-color;
  background: $light-color;
  margin: 0;
}

/**
 * Song details
 */
#song-details {
  padding: $padding;
  float: left;

  #song-name {
    font-size: 36px;
    font-weight: bold;
  }

  #artist-name {
    font-size: 30px;
    color: #333;
  }
}

#rights {
  float: right;
  padding: $padding;
  text-align: right;

  .mxm-logo {
    -webkit-filter: grayscale(1);
  }

  .mxm-logo:hover {
    -webkit-filter: grayscale(0);
  }
}

/**
 * Lyrics
 */
#lyrics-container {
  clear: both;
  display: none;

  #options {
    width: 136px;
    margin: 0 auto;

    .tab-btn {
      height: 30px;
      border: 1px solid #ccc;
      cursor: pointer;
      color: $dark-color;
      background: white;
    }

    #featured-tab-btn {
      border-radius: 4px 0 0 4px;
    }

    #complete-tab-btn {
      border-radius: 0 4px 4px 0;
    }

    .tab-btn:active, .tab-btn-active {
      background: $light-color;
    }
  }

  #featured-lyrics {
    #curr {
      background: $dark-color;
      color: $light-color;
    }

    .verse {
      margin-bottom: 10px;
      padding: $padding;
      text-align: center;
    }

    .regular-verse {
      font-size: 42px;
    }

    .featured {
      font-size: 48px;
      font-weight: bold;
    }
  }

  #complete-lyrics {
    width: 100%;
    text-align: center;

    #lyrics-pos {
      display: inline-block;
      margin: 0 auto;
    }

    .verse {
      font-size: 20px;
    }

    .featured-verse {
      font-weight: bold;
      font-size: 30px;
    }
  }
}

/**
 * Footer
 */
footer {
  text-align: center;
  padding: $padding;
  margin-top: 10px;
}

/** 
 * Warning
 */
#warning {
  text-align: center;
  display: none;
}

.warning {
  color: $red-warning;
  font-size: 48px;
  font-weight: bold;
}

/**
 * Global
 */
.invisible {
  display: none;
}

.small {
  font-size: 12px;
}

#wrapper {
  min-height: calc(100vh - 70px);
}
